body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

.container {
  width: 1000px;
  margin: auto;
  background: white;
  padding: 20px;
}

/* HEADER */
.header {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.profile {
  width: 180px;
  border-radius: 10px;
}

.lab {
  width: 350px;
  border-radius: 0px;
}

/* TABS */
.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background: #003366;
}

#education tr,
#Research\ Experience tr{

background:rgba(255,255,255,0.08);

backdrop-filter:blur(10px);

border:1px solid rgba(255,255,255,0.15);

border-radius:20px;

box-shadow:none;
}

#education td,
#Research\ Experience td{
padding:30px !important;
}

#education img,
#Research\ Experience img{
filter:drop-shadow(0 0 10px rgba(0,0,0,.2));
}
